@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
 
*{
    margin:0;
    padding:0;
    list-style-type: none;
    box-sizing:border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }

h1, h2 ,h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}


/* Color Theme Swatches in RGBA */
$color-0: rgba(252,252,252, 1);
$color-1: rgba(242,242,242, 1);
$color-2: rgba(191,191,191, 1);
$color-3: rgba(140,140,140, 1);
$color-4: rgba(63,63,63, 1);
$color-5: rgba(12,12,12, 1);




.wrap {
    background-color:$color-0;
    height:100vh;
    .Header {
        position:relative;
        .navBarbot {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button.navbar-toggler {
                top: 18vw;
                right: 2.5em;
                border-radius: 3em;
                padding:0em;
                font-size:.9em;
                opacity: .7;
                margin-left:1em;
            }
            button.navbar-toggler:hover {
                opacity: 1;
            }
            div#responsive-navbar-nav {
                position: absolute;
                right: 0;
                text-align: right;
                background-color: #343a40;
                padding: 2em;
                top: 7.4em;
                z-index: 999;
            }
            .searchBar {
                border-radius: 2em 0em 0em 2em;
                height: 2.3em;
                input {
                    background-color: #343a40;
                    border-radius:.2em;
                    border:thin solid #495158;
                    // color:$color-1;
                }
                
                .input-group-append {
                    margin-left: -.3em;
                }
                button {
                    border:none;
                }
                .dropright .dropdown-menu {
                    top: 0;
                    right: auto;
                    left: 100%;
                    height: 100%;
                    margin-top: 0;
                    /* margin-left: .125rem; */
                        .mb-3 {
                            margin-bottom:0em;
                            Button {
                                border-radius: 0em 2em 2em 0em;
                                i {
                                    font-size: 1em;
                                    padding:.2em;
                                }
                            }

                        }
                    }
                }
            
        }
        .navbar-dark .navbar-toggler-icon {
            background-image:url("../src/profile-user.svg");
            font-size:1.75em;
        }

        .Logo {
            padding-top: .5em;
            padding-bottom: .5em;
            width: 15em;
        }
        .Navbar {
            justify-content: center;
            display:flex;
            width:100vw;
            // justify-content: space-around;
            align-items: flex-end;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom:.5em;
        }
    }
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .catagories {
        display:flex;
        flex-direction: column;
        .nav.nav-pills {
            justify-content: center ;
           padding-top: 1em;
            .nav-link {
                color: $color-3;
            }
            .nav-link.active {
                color: #fff;
                background-color: $color-4;
            }
        }
    }
    .Items {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 70%;
        background-color: #f2f2f2;
        padding: 1em;

        .card {
            border:0em;
            margin-top:.2em;
            width:100%;
            border-bottom:thin solid $color-1;
            border-radius: 0;
            height:100%;
            justify-content: space-between;
            background-color:transparent;
            .AddButton {
                display: flex;
                justify-content: space-around;
                border: thin solid;
                background-color:rgba(255, 255, 255, 0);
                width:100%;
                border-radius: 0;
                color:$color-5;
                font-weight:500;
            }
        }
    }

    .FilterCat {
        background-color:white;
        color:$color-3;
        text-align: center;
        border-bottom:thin solid $color-4;
        cursor: pointer;
        .card {
            background: white;
        }
        .card-header {
            
            padding: 0;
            background-color: white;
            border:0;
            padding: .3em;
            h3 {
                font-family:Raleway;
            }
        }
    
    }

    .LoginButton {
        background-color:$color-1;
        color:$color-5;
        border-radius: 3em;
        margin:2em;
        margin-top:1.5em;
        text-align: center;
        padding: 1em;
        cursor: pointer;
    }

    

    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .LoginGrp { 
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        .LoginModal {
            background:$color-5;
        }
}

}


// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {            
    .navBarbot button.navbar-toggler {
    position: absolute;
    top: 6em !important;
    right: 2em;
    border-radius: 3em;
    height: 2.7em;
    } 

    .section .items {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        justify-content: flex-start;
        align-items: center;
        flex: 1 0 70%;
    }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .wrap .Header .navBarbot {
        width: 80%;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px)  { 
    .wrap .Header .Navbar {
        justify-content: space-around;
        align-items: center;
    }        
    .wrap .Header .navBarbot {
        width: 25em;
    }

    .wrap .Header .navBarbot div#responsive-navbar-nav {
        position: relative;
        right: 0;
        text-align: right;
        background-color: #343a40;
        padding: 1em;
        top: 10em;
        z-index: 999;
    }
}
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }