@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
/* Color Theme Swatches in RGBA */
.wrap {
  background-color: #d6d8d8;
  height: 100vh;
}

.wrap .Header {
  position: relative;
}

.wrap .Header .navBarbot {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .Header .navBarbot button.navbar-toggler {
  position: absolute;
  top: 18vw;
  right: 2.5em;
  border-radius: 3em;
  padding: 0em;
  font-size: .9em;
  opacity: .7;
}

.wrap .Header .navBarbot button.navbar-toggler:hover {
  opacity: 1;
}

.wrap .Header .navBarbot div#responsive-navbar-nav {
  position: absolute;
  right: 0;
  text-align: right;
  background-color: #343a40;
  padding: 2em;
  top: 10.5em;
  z-index: 999;
}

.wrap .Header .navbar-dark .navbar-toggler-icon {
  background-image: url("../src/profile-user.svg");
  font-size: 1.75em;
}

.wrap .Header .mb-3 Button {
  border-radius: 0em 2em 2em 0em;
}

.wrap .Header .mb-3 Button i {
  font-size: 1em;
  padding: .2em;
}

.wrap .Header .mb-3 .searchBar {
  border-radius: 2em 0em 0em 2em;
  height: 2.3em;
}

.wrap .Header .Logo {
  padding-top: .5em;
  padding-bottom: .5em;
  width: 19em;
}

.wrap .Header .Navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 2em;
  padding-right: 2em;
}

.wrap .Header .Navbar .navbar-brand {
  padding: 1em;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section .catagories .nav.nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1em;
}

.section .catagories .nav.nav-pills .nav-link {
  color: #343a40;
}

.section .catagories .nav.nav-pills .nav-link.active {
  color: #fff;
  background-color: #343a40;
}

.section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.section .items .card {
  border-radius: 2em;
  -webkit-box-shadow: 0em 0.1em 0.2em 0em rgba(51, 51, 51, 0.247);
          box-shadow: 0em 0.1em 0.2em 0em rgba(51, 51, 51, 0.247);
  margin: .2em;
  width: 100%;
}

.section .items .card .btn-primary {
  background-color: #343a40;
  width: 100%;
  border-radius: 2em;
}

.section .FilterCat {
  background-color: #cab166;
  color: #343a40;
  text-align: center;
  cursor: pointer;
  margin-bottom: .5em;
}

.section .FilterCat .card {
  background: white;
}

.section .FilterCat .card-header {
  padding: 0;
  background-color: #cab166;
  border: 0;
  padding: .3em;
}

.section .LoginButton {
  background-color: #343a40;
  color: #d88765;
  border-radius: 3em;
  margin: 2em;
  margin-top: 1.5em;
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section .LoginGrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section .LoginGrp .LoginModal {
  background: #d88765;
}

@media (min-width: 576px) {
  .navBarbot button.navbar-toggler {
    position: absolute;
    top: 6em !important;
    right: 2em;
    border-radius: 3em;
    height: 2.7em;
  }
  .section .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 70%;
            flex: 1 0 70%;
  }
}

@media (min-width: 768px) {
  .wrap .Header .navBarbot {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .wrap .Header .Navbar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap .Header .navBarbot {
    width: 25em;
  }
  .wrap .Header .navBarbot div#responsive-navbar-nav {
    position: absolute;
    right: 0;
    text-align: right;
    background-color: #343a40;
    padding: 1em;
    top: 10em;
    z-index: 999;
  }
}
/*# sourceMappingURL=App.css.map */